h1{ color:rgb(178, 133, 204)}
h1{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
h1{ font-size:medium;}
h1{ font-style:italic;}
p{ color:rgb(17, 17, 17)}
p{ font-style: oblique;}
p{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(194, 163, 163);
    opacity: 0.9;
}

body{
    background-image: url("image/tt.jpg");
    background-repeat:repeat;
    background-position:100px;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
   .calculator{
    background-color: rgb(55, 111, 121);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    box-shadow: rgb(247, 211, 165); 
    display:flex;
    flex-direction: column;
    
   }
   
   #display{
    justify-content: center;
    color: aliceblue;
    height: 40px;text-align: right;
    font-size:xx-large;
    padding: 8px;
    border: none;
    border-radius: 8px;
   }
.buttons{
    margin-top: 10px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
}
.btn{
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    background-color: rgb(180, 194, 221);
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(150, 177, 167);
}